.container-grid {
    padding: 1.5em;
}

.card-media {
    margin: 0.7em;
    border-radius: 2em !important;
    background-color: var(--primary600) !important;
}

.image {
    width: 17em;
    height:  15em;
    object-fit: fill;
}